<!DOCTYPE html>
<html>
  <head>
    <title>TableFor2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', "https://fonts.googleapis.com/css?family=Source+Sans+Pro|Varela+Round&display=swap", media: 'all' %>

    <script type="text/javascript">
      window.logo = "<%= image_url('logo.jpg')%>"
      window.fullStar = "<%= image_url('icons/stars/full_star.png')%>"
      window.halfStar = "<%= image_url('icons/stars/half_star.png')%>"
    </script>
    
    <script type="text/javascript">
      window.searchbarImages = []

      window.searchbarImages.push("<%= image_url('img_dining_0.jpg') %>")
      window.searchbarImages.push("<%= image_url('img_dining_1.jpg') %>")
      window.searchbarImages.push("<%= image_url('img_dining_2.jpg') %>")
      window.searchbarImages.push("<%= image_url('img_dining_3.jpg') %>")
      window.searchbarImages.push("<%= image_url('img_dining_4.jpg') %>")

    </script>

    <script type="text/javascript">
      window.cityImages = []

      window.cityImages.push("<%= image_url('cities/img_cities_01.jpg') %>")
      window.cityImages.push("<%= image_url('cities/img_cities_02.jpg') %>")
      window.cityImages.push("<%= image_url('cities/img_cities_03.jpg') %>")
      window.cityImages.push("<%= image_url('cities/img_cities_04.jpg') %>")
      window.cityImages.push("<%= image_url('cities/img_cities_05.jpg') %>")
      window.cityImages.push("<%= image_url('cities/img_cities_06.jpg') %>")
      window.cityImages.push("<%= image_url('cities/img_cities_07.jpg') %>")
      window.cityImages.push("<%= image_url('cities/img_cities_08.jpg') %>")

    </script>

    <script type="text/javascript">
      window.searchBarCities = {}
      window.searchBarCities[1] = "<%= image_url('cities/searchbar_cities/searchbar_1.jpg') %>"
      window.searchBarCities[2] = "<%= image_url('cities/searchbar_cities/searchbar_2.jpg') %>"
      window.searchBarCities[3] = "<%= image_url('cities/searchbar_cities/searchbar_3.jpg') %>"
      window.searchBarCities[4] = "<%= image_url('cities/searchbar_cities/searchbar_4.jpg') %>"
      window.searchBarCities[5] = "<%= image_url('cities/searchbar_cities/searchbar_5.jpg') %>"
      window.searchBarCities[6] = "<%= image_url('cities/searchbar_cities/searchbar_6.jpg') %>"
      window.searchBarCities[7] = "<%= image_url('cities/searchbar_cities/searchbar_7.jpg') %>"
      window.searchBarCities[8] = "<%= image_url('cities/searchbar_cities/searchbar_8.jpg') %>"
      window.searchBarCities[9] = "<%= image_url('cities/searchbar_cities/searchbar_9.jpg') %>"
      window.searchBarCities[10] = "<%= image_url('cities/searchbar_cities/searchbar_10.jpg') %>"
      window.searchBarCities[11] = "<%= image_url('cities/searchbar_cities/searchbar_11.jpg') %>"
    </script>

    <script type="text/javascript">
      window.cuisineIcon = "<%= image_url('icons/cuisine.png') %>"
      window.neighborhood = "<%= image_url('icons/neighborhood.png') %>"
      window.payment = "<%= image_url('icons/payment_method.png') %>"
    </script>

    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
