<!DOCTYPE html>
<html>
  <head>
    <title>TableFor2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', "https://fonts.googleapis.com/css?family=Source+Sans+Pro|Varela+Round&display=swap", media: 'all' %>

    <script type="text/javascript">
      window.searchbarImages = []

      window.searchbarImages.push("<%= image_url('img_dining_0.jpg') %>")
      window.searchbarImages.push("<%= image_url('img_dining_1.jpg') %>")
      window.searchbarImages.push("<%= image_url('img_dining_2.jpg') %>")
      window.searchbarImages.push("<%= image_url('img_dining_3.jpg') %>")

    </script>

    <script type="text/javascript">
      window.cityImages = []

      window.cityImages.push("<%= image_url('cities/img_cities_01.jpg') %>")
      window.cityImages.push("<%= image_url('cities/img_cities_02.jpg') %>")
      window.cityImages.push("<%= image_url('cities/img_cities_03.jpg') %>")
      window.cityImages.push("<%= image_url('cities/img_cities_04.jpg') %>")
      window.cityImages.push("<%= image_url('cities/img_cities_05.jpg') %>")
      window.cityImages.push("<%= image_url('cities/img_cities_06.jpg') %>")
      window.cityImages.push("<%= image_url('cities/img_cities_07.jpg') %>")
      window.cityImages.push("<%= image_url('cities/img_cities_08.jpg') %>")

    </script>

    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
